name: Flutter Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      # This step installs Flutter on the GitHub server
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      # This downloads your project dependencies
      - run: flutter pub get
      
      # This checks your code for syntax errors
      - run: flutter analyze
